<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
      <section class="greeting-content">
        <header>
          Logo
        </header>
        <main>
          <p>Hello,</p>
          <p>I'm Cuong Luong,</p>
          <p>Glad to know you visit my portfolio!</p>
        </main>
        <footer>
          Footer
        </footer>
      </section>
      </section>
    </div>
  </body>
</html>
