<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Roboto" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/">C | L</a>
      </header>
      <section class="greeting-content">
        <main>
          <p>Hello,</p>
          <h1>I'm Cuong Luong.</h1>
          <p>Glad to know you visit my portfolio!</p>
        </main>
        <footer>
          <p>See how</p>
          <span>&nbsp;</span>
        </footer>
      </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascript/home.js"></script>
  </body>
</html>
