body {
  padding: 0px;
  margin: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrapper {
  background-color: #212121;
  color: white;
}

.greeting-content {
  text-align: center;
  min-height: 100vh;
}
header {
  height: 40px;
  text-align: center;
}
main {
  padding: 220px 0;
}
footer {
  height: 40px;
  text-align: center;
}
